In [1]:
#importing libraries
import pandas as pd
import numpy as np

In [3]:
mainDF=pd.read_csv(r'C:\Users\goswa\Documents\Covid-19\after_feature_engg.csv')

In [4]:
mainDF.head()

         Date  State/UnionTerritory  Cured  Deaths  Confirmed
0  2020-01-30                    20      0       0          1
1  2020-01-31                    20      0       0          1
2  2020-02-01                    20      0       0          2
3  2020-02-02                    20      0       0          3
4  2020-02-03                    20      0       0          3

In [5]:
mainDF.shape

(16526, 5)

In [9]:
mainDF.drop('Date',inplace=True,axis=1)

In [10]:
mainDF.head()

   State/UnionTerritory  Cured  Deaths  Confirmed
0                    20      0       0          1
1                    20      0       0          1
2                    20      0       0          2
3                    20      0       0          3
4                    20      0       0          3

In [11]:
x=mainDF.drop('Confirmed',axis=1)

In [13]:
x.head()

   State/UnionTerritory  Cured  Deaths
0                    20      0       0
1                    20      0       0
2                    20      0       0
3                    20      0       0
4                    20      0       0

In [14]:
y=mainDF['Confirmed']

In [15]:
y.head()

0    1
1    1
2    2
3    3
4    3
Name: Confirmed, dtype: int64

##  Creating train and test dataset

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [18]:
x_train.head()

       State/UnionTerritory   Cured  Deaths
2171                      3      54       4
9211                     30   36238     614
4992                      8    8582      89
13205                    31  198972    6621
7989                     33    3651      73

In [19]:
x_test.head()

       State/UnionTerritory    Cured  Deaths
7294                     39   393908    6438
7261                      0     3770      55
13446                    20  1100186    4658
6722                     26     3654      43
6289                     12   188122    4770

# Random Forest

In [21]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 200, random_state = 0)
regressor.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [22]:
y_pred=regressor.predict(x_test)

In [25]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

print(score)

0.9996671509231774

# ACCURACY OF 99.96%